@tailwind base;
@tailwind components;
@tailwind utilities;

.control-input {
  @apply shadow-md pl-2 h-8 leading-8 border-1 border-solid rounded-md;
}

/* overriding color picker component */
.vc-chrome {
  box-shadow: none !important;
}

.vc-chrome-toggle-icon {
  margin-top: none !important;
}

.vc-chrome-toggle-icon-highlight {
  display: none;
}

.icon {
  @apply transition-all cursor-pointer fill-current;
}

.widget .icon {
  @apply text-green-800 hover:text-pink-400 dark:hover:text-yellow-600 dark:text-gray-900;
}

#plant-search .icon,
#controls .icon {
  @apply text-green-600 hover:text-pink-800 dark:text-yellow-700 dark:hover:text-yellow-400;
}

.icon.close {
  @apply hover:text-pink-800 dark:hover:text-yellow-700;
}

.scrollbar-light {
  @apply scrollbar-thumb-green-300 scrollbar-track-green-50;
}

@variants dark {
  .scrollbar-dark {
    @apply scrollbar-thumb-yellow-700 scrollbar-track-gray-600;
  }
}
