@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/styles/overrides.css";

.btn-help {
  @apply px-2 py-1 focus:outline-none text-xs hover:bg-gray-400 focus:bg-gray-400 dark:hover:bg-gray-600 dark:focus:bg-gray-600 bg-gray-500 text-gray-100 dark:bg-gray-800 dark:text-gray-300 cursor-pointer;
}

.help-box {
  @apply p-2 border-1 rounded-md mb-2 m-1;
}

.control-input {
  max-width: 200px;

  @apply shadow-sm pl-2 h-8 border-1 border-solid rounded-md;
}

input:focus,
select:focus {
  @apply ring-2 ring-green-400 dark:ring-green-500 !important;
}

button:focus {
  @apply ring-2 ring-green-400 dark:ring-green-500 !important;
}

select:required:invalid {
  @apply text-gray-500;
}

.icon {
  @apply transition-all cursor-pointer fill-current;
}

.widget .icon {
  @apply text-green-800 hover:text-pink-400 dark:hover:text-yellow-600 dark:text-gray-900;
}

#plant-search .icon,
#create-entity .icon,
#controls .icon {
  @apply text-green-600 hover:text-pink-800 dark:text-yellow-700 dark:hover:text-yellow-400;
}

.icon.close {
  @apply hover:text-pink-800 dark:hover:text-yellow-700;
}

/* p-1 to avoid scrollbar from overlaying content */
.scrollbar-light {
  @apply scrollbar-thin scrollbar-thumb-green-300 scrollbar-track-green-50 px-2;
}

@variants dark {
  .scrollbar-dark {
    @apply scrollbar-thin scrollbar-thumb-yellow-700 scrollbar-track-gray-600 px-2;
  }
}
